body {
  background-color:#232323;
  padding:0px;
  margin:0px;
  font-family:Consolas;
  color:#e1e1e1;
}

#wrapper{
	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#010101;	
}

#titlebar{
	padding:5px;
	border-bottom:1px solid #e1e1e1;
	overflow: auto;
}
.slogan{
	float:left;
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:20px;
}
.nav{
	float:right;
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:20px;
}

#clearfloat{
	clear:both;
}


#mainbox{
	padding:5px;
	margin:20px;
}

#streambox{
}

#streambox img{
	width:100%;
	padding:0px;
	border-bottom:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
}
.yellowtext{
	color:#efef22;
}
