body {
  background-color:#232323;
  padding:0px;
  margin:0px;
  font-family:Consolas;
  color:#e1e1e1;
}

#wrapper{
	width:960px;
	height:100%;
	margin-left:auto;
	margin-right:auto;
	background-color:#010101;	
}

#titlebar{
	padding:5px;
	border-bottom:1px solid #e1e1e1;
	overflow: auto;
}
#titlebar a:link {
  color: #cdcd00;
}
#titlebar a:visited {
  color: #cdcd00;
}
#titlebar a:hover {
  color: #a19900;
}
#titlebar a:active {
  color: #a19900;
}
.slogan{
	float:left;
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:20px;
}
.nav{
	float:right;
	display:inline;
	margin-top:0px;
	margin-bottom:0px;
	margin-right:20px;
}

#clearfloat{
	clear:both;
}


#mainbox{
	padding:5px;
	margin:20px;
}

#streambox{
	position:relative;
	padding-top:56.25%;
}

#streambox iframe {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	padding:0px;
	border-bottom:1px solid #e1e1e1;
	border-top:1px solid #e1e1e1;
}
.yellowtext{
	color:#efef22;
}
